<!--===== HEADER =====-->
<header class="l-header">
  <nav class="nav bd-grid">
    <div class="nav_toggle" id="nav-toggle"></div>
    <div>
      <a href="#" class="nav_logo">Anu</a>
    </div>
    <div class="nav__menu" id="nav-menu">
      <div class="nav__close" id="nav-close"></div>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link">Skills</a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link">Services</a>
        </li>
        <li class="nav__item">
          <a href="#works" class="nav__link">Works</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">Contact me</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="l-main">
  <!--===== HOME =====-->
  <section class="home" id="home">
    <div class="home__container bd-grid">
      <div class="home__data">
        <div class="home__img">
          <img src="/assets//img/IMG_9460-01.jpeg" alt="" />
        </div>
        <h1 class="home__title">Anu J Pillai</h1>
        <span class="home__profession"> Fullstack Developer </span>
        <div class="home__social">
          <a href="#" class="home__social-link"
            ><img src="https://img.icons8.com/ios-filled/50/000000/github.png"
          /></a>

          <a href="#" class="home__social-link"
            ><img
              src="https://img.icons8.com/ios-glyphs/50/000000/linkedin-circled--v1.png"
          /></a>

          <a href="#" class="home__social-link"
            ><img src="https://img.icons8.com/dotty/50/000000/dribbble.png"
          /></a>
        </div>
        <a download="" class="button home__button">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- <br> -->

  <!--===== ABOUT =====-->
  <section class="about section" id="about">
    <span class="section-subtitle"></span>
    <h2 class="section-title">About Me</h2>

    <div class="about__container bd-grid">
      <div class="about__data">
        <p class="about__description">
          Hi, I'm a Fullstack Developer, Passionate about creating and
          developing web interfaces.
        </p>
        <img
          src="/assets/img/WhatsApp Image 2022-10-19 at 9.39.54 AM.jpeg"
          alt=""
          class="about__img"
        />
      </div>

      <!-- ?starts here div info -->
      <div>
        <div class="about__information">
          <h3 class="about__information-title">Information</h3>

          <div class="about__information-data">
            <div class="about__information-icon"></div>

            <span>Anu J Pillai</span>
          </div>

          <div class="about__information-data">
            <div class="about__information-icon"></div>
            <span>9633018850</span>
          </div>

          <div class="about__information-data">
            <div class="about__information-icon"></div>

            <span>anujpillai9880@gmail.com</span>
          </div>
        </div>

        <div class="about__information">
          <h3 class="about__information-title">Experience and Support</h3>

          <div class="about__information-data">
            <div class="about__information-icon"></div>
            <div>
              <span class="about__information-subtitle">0-1 Years Job</span>
              <span class="about__information-subtitle-small">Experience</span>
            </div>
          </div>

          <div class="about__information-data">
            <div class="about__information-icon"></div>

            <div>
              <span class="about__information-subtitle">10+ Projects</span>
              <span class="about__information-subtitle-small">Completed</span>
            </div>
          </div>

          <div class="about__information-data">
            <div class="about__information-icon"></div>

            <div>
              <span class="about__information-subtitle">Support</span>
              <span class="about__information-subtitle-small"
                >Online 24/7
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- ?ends here div info -->
    </div>
  </section>

  <!--===== SKILLS =====-->
  <section class="skills section" id="skills">
    <span class="section-subtitle">Why Choose Me</span>
    <h2 class="section-title">My expertise Area</h2>

    <div class="skills__container bd-grid">
      <!-- !1 starts-->
      <div class="skills__content">
        <h3 class="skills__subtitle">Frontend</h3>
        <!-- !1 -->
        <div class="skills__data">
          <span class="skills__name">Html</span>
          <span class="skills__number">80%</span>
          <span class="skills__bar skills__html"></span>
        </div>
        <!-- !2 -->
        <div class="skills__data">
          <span class="skills__name">Css</span>
          <span class="skills__number">90%</span>
          <span class="skills__bar skills__js"></span>
        </div>
        <!-- !3 -->
        <div class="skills__data">
          <span class="skills__name">Angular</span>
          <span class="skills__number">70%</span>
          <span class="skills__bar skills__react"></span>
        </div>

        <!-- !4 -->
        <div class="skills__data">
          <span class="skills__name">Typescript</span>
          <span class="skills__number">60%</span>
          <span class="skills__bar skills__angular"></span>
        </div>
      </div>

      <!-- !2 starts-->
      <div class="skills__content">
        <h3 class="skills__subtitle">Backend</h3>
        <!-- !1 -->
        <div class="skills__data">
          <span class="skills__name">MongoDB</span>
          <span class="skills__number">60%</span>
          <span class="skills__bar skills__php"></span>
        </div>
        <!-- !2 -->
        <div class="skills__data">
          <span class="skills__name">Node js</span>
          <span class="skills__number">70%</span>
          <span class="skills__bar skills__node"></span>
        </div>
        <!-- !3 -->
        <div class="skills__data">
          <span class="skills__name">Firebase</span>
          <span class="skills__number">50%</span>
          <span class="skills__bar skills__firebase"></span>
        </div>

        <!-- !4 -->
        <div class="skills__data">
          <span class="skills__name">Javascript</span>
          <span class="skills__number">60%</span>
          <span class="skills__bar skills__python"></span>
        </div>
      </div>
    </div>
  </section>

  <!--===== EDUCATION =====-->

  <section class="education section">
    <span class="section-subtitle">Qualification</span>
    <h2 class="section-title">My Education</h2>

    <div class="education__container bd-grid">
      <!-- !1 -->
      <div class="education__content">
        <div>
          <h3 class="education__year">2019 - 2022</h3>
          <span class="education__university">MMNSS KONNI</span>
        </div>

        <div class="education__time">
          <span class="education__rounder"></span>
          <span class="education__line"></span>
        </div>

        <div>
          <h3 class="education__race">BSC</h3>
          <span class="education__specialty">in Computer Science</span>
        </div>
      </div>
      <!-- !2 -->
      <div class="education__content">
        <div>
          <h3 class="education__year">2022 - 2022</h3>
          <span class="education__university">ICT Academy</span>
        </div>

        <div class="education__time">
          <span class="education__rounder"></span>
          <span class="education__line"></span>
        </div>

        <div>
          <h3 class="education__race">MEAN stack</h3>
          <span class="education__specialty">Full stack</span>
        </div>
      </div>
      <!-- !3 -->
      <!-- <div class="education__content">
        <div>
          <h3 class="education__year">2018 - 2020</h3>
          <span class="education__university">University of Studies</span>
        </div>

        <div class="education__time">
          <span class="education__rounder"></span>
          <span class="education__line"></span>
        </div>

        <div>
          <h3 class="education__race">Diploma Design</h3>
          <span class="education__specialty">UI/UX</span>
        </div>
      </div> -->
    </div>
  </section>

  <!--===== SERVICES =====-->

  <section class="services section" id="services">
    <span class="section-subtitle">What I Offer</span>

    <h2 class="section-title">My Service</h2>

    <div class="services__container bd-grid">
      <!-- !1 -->
      <div class="services__content">
        <div class="services__icon"></div>
        <h3 class="services__title">Web Design</h3>
        <p class="services__description">
          This service that I offer is of high quality, and above all experience
          that I have in the labor filed for many years.
        </p>
      </div>
      <!-- !2 -->
      <div class="services__content">
        <div class="services__icon"></div>
        <h3 class="services__title">Graphic Design</h3>
        <p class="services__description">
          This service that I offer is of high quality, and above all experience
          that I have in the labor filed for many years.
        </p>
      </div>
      <!-- !3 -->
      <div class="services__content">
        <div class="services__icon"></div>
        <h3 class="services__title">UI/UX</h3>
        <p class="services__description">
          This service that I offer is of high quality, and above all experience
          that I have in the labor filed for many years.
        </p>
      </div>
      <!-- !4-->
      <div class="services__content">
        <div class="services__icon"></div>
        <h3 class="services__title">Backend Development</h3>
        <p class="services__description">
          This service that I offer is of high quality, and above all experience
          that I have in the labor filed for many years.
        </p>
      </div>
      <!-- !5 -->
      <div class="services__content">
        <div class="services__icon"></div>
        <h3 class="services__title">Content Writing</h3>
        <p class="services__description">
          This service that I offer is of high quality, and above all experience
          that I have in the labor filed for many years.
        </p>
      </div>

      <!-- !6 -->
      <div class="services__content">
        <div class="services__icon"></div>
        <h3 class="services__title">Interface Mobile</h3>
        <p class="services__description">
          This service that I offer is of high quality, and above all experience
          that I have in the labor filed for many years.
        </p>
      </div>
    </div>
  </section>

  <!--===== PROJECT IN MIND =====-->
  <section class="project section">
    <div class="project__container bd-grid">
      <div class="project__data">
        <h2 class="section-title project__title">
          Do you have a Project in mind
        </h2>
        <p class="project__description">
          If you have a project that you want to carry out, do not hesitate and
          tell me what it is, and what services I can offer you, Contact me
          directly here.
        </p>
        <br />
        <a href="#contact" class="button btn button_light">Contact Me</a>
      </div>
      <!-- <img src="./assets//img/projectmind.png" alt="" class="project__img" /> -->
      <img
        src="https://img.icons8.com/wired/500/000000/brainstorm-skill.png"
        class="project__img"
      />
    </div>
  </section>

  <!--===== WORKS =====-->

  <section class="works section" id="works">
    <span class="section-subtitle">My portfolio</span>
    <h2 class="section-title">Recent Works</h2>

    <div class="works__container bd-grid">
      <!-- !1 -->
      <div class="works__img">
        <img src="/assets//img//work1.jpg" alt="" />
        <div class="works__data">
          <a href="#" class="works__link"
            ><img src="https://img.icons8.com/ios/50/000000/link--v1.png"
          /></a>
          <span class="works__title">Work 1</span>
        </div>
      </div>
      <!-- !2-->
      <div class="works__img">
        <img src="/assets//img//work2.jpg" alt="" />
        <div class="works__data">
          <a href="#" class="works__link"
            ><img src="https://img.icons8.com/ios/50/000000/link--v1.png"
          /></a>
          <span class="works__title">Work 2</span>
        </div>
      </div>
      <!-- !3 -->
      <div class="works__img">
        <img src="/assets//img//work3.jpg" alt="" />
        <div class="works__data">
          <a href="#" class="works__link"
            ><img src="https://img.icons8.com/ios/50/000000/link--v1.png"
          /></a>
          <span class="works__title">Work 3</span>
        </div>
      </div>
      <!-- !4 -->
      <div class="works__img">
        <img src="/assets//img//work4.jpg" alt="" />
        <div class="works__data">
          <a href="#" class="works__link"
            ><img src="https://img.icons8.com/ios/50/000000/link--v1.png"
          /></a>
          <span class="works__title">Work 4</span>
        </div>
      </div>
      <!-- !5 -->
      <div class="works__img">
        <img src="/assets//img//work5.jpg" alt="" />
        <div class="works__data">
          <a href="#" class="works__link"
            ><img src="https://img.icons8.com/ios/50/000000/link--v1.png"
          /></a>
          <span class="works__title">Work 5</span>
        </div>
      </div>
      <!-- !6 -->
      <div class="works__img">
        <img src="/assets//img//work6.jpg" alt="" />
        <div class="works__data">
          <a href="#" class="works__link"
            ><img src="https://img.icons8.com/ios/50/000000/link--v1.png"
          /></a>
          <span class="works__title">Work 6</span>
        </div>
      </div>
    </div>
  </section>

  <!-- !testimonial -->

  <section class="testimonial section" id="testimonial">
    <span class="section-subtitle">Testimonial</span>
    <h2 class="section-title">My Client Saying</h2>

    <div class="testimonial__container container">
      <div>
        <!-- !1 -->
        <div class="testimonial__content">
          <div class="testmonial__data">
            <div class="testimonial__header">
              <img
                src="/assets/img/african-american-man-enjoying-drinking-coffee-while-sitting-coffee-shop_354751-476.webp"
                alt=""
                class="testimonial__img"
              />
            </div>

            <div>
              <h3 class="testimonial__name">John uzumaki</h3>
              <span class="testimonial__client">Client</span>
            </div>
          </div>

          <div class="star__icon">
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
          </div>
        </div>

        <p class="testimonial__description">
          Here, I got a nice impression when i submitted the Projects. And it
          was good.
        </p>

        <!-- !testmonial 2 -->
        <div class="testimonial__content">
          <div class="testmonial__data">
            <div class="testimonial__header">
              <img
                src="/assets/img/african-american-man-enjoying-drinking-coffee-while-sitting-coffee-shop_354751-476.webp"
                alt=""
                class="testimonial__img"
              />
            </div>

            <div>
              <h3 class="testimonial__name">Drake uchiha</h3>
              <span class="testimonial__client">Client</span>
            </div>
          </div>

          <div class="star__icon">
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
          </div>
        </div>

        <p class="testimonial__description">
          Here, I got a nice impression when i submitted the Projects. And it
          was good.
        </p>
        <!-- !testmonial 3 -->
        <div class="testimonial__content">
          <div class="testmonial__data">
            <div class="testimonial__header">
              <img
                src="/assets/img/african-american-man-enjoying-drinking-coffee-while-sitting-coffee-shop_354751-476.webp"
                alt=""
                class="testimonial__img"
              />
            </div>

            <div>
              <h3 class="testimonial__name">Harry Hashirama</h3>
              <span class="testimonial__client">Client</span>
            </div>
          </div>
          <div class="star__icon">
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/star--v2.png"
              class="testimonial__icon-star"
            />
          </div>
        </div>

        <p class="testimonial__description">
          Here, I got a nice impression when i submitted the Projects. And it
          was good.
        </p>
        <!--! 3end -->
      </div>
    </div>
  </section>
  <!--  -->

  <!--===== CONTACT =====-->
  <section class="contact section" id="contact">
    <span class="section-subtitle">Contact Me</span>
    <h2 class="section-title">Get In Touch</h2>

    <div class="contact__container bd-grid">
      <form action="" class="contact__form">
        <div class="contact__inputs">
          <input type="text" placeholder="Name" class="contact__input" />
          <input type="mail" placeholder="Email" class="contact__input" />
        </div>

        <input type="mail" placeholder="Projects" class="contact__input" />
        <textarea
          name=""
          id=""
          cols="0"
          rows="10"
          placeholder="Message"
          class="contact__input"
        ></textarea>

        <input
          type="submit"
          value="Send Message"
          class="button contact__button"
        />
      </form>

      <div>
        <!-- !1 -->
        <div class="contact__info">
          <h3 class="contact__subtitle">Call me</h3>
          <span class="contact__text">999-000-123</span>
          <span class="contact__text">999-000-123</span>
        </div>
        <!-- !2 -->
        <div class="contact__info">
          <h3 class="contact__subtitle">E-mail</h3>
          <span class="contact__text">user@gmail.com</span>
          <span class="contact__text">user123@gmail.com</span>
        </div>
        <!-- !3 -->
        <div class="contact__info">
          <h3 class="contact__subtitle">Location</h3>
          <span class="contact__text">Kottarakkara</span>
          <span class="contact__text">Kollam,kerala</span>
        </div>
      </div>
    </div>
  </section>
</main>

<!--===== FOOTER =====-->

<footer class="footer section">
  <div class="footer__container bd-grid">
    <h1 class="footer__title">Anu J Pillai</h1>
    <p class="footer__description">
      I am Anu J Pillai and this is my personal website, consult me here.
    </p>

    <div class="footer__social">
      <a href="#" class="footer__link"
        ><img
          src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png"
      /></a>
      <a href="#" class="footer__link"
        ><img src="https://img.icons8.com/ios-filled/50/000000/instagram.png"
      /></a>
      <a href="#" class="footer__link"
        ><img
          src="https://img.icons8.com/ios-filled/50/000000/twitter-circled--v1.png"
      /></a>
    </div>
    <p class="footer__copy">All right reserved by User -2022</p>
  </div>
</footer>
